<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 
<form action="/about">
    <button type="submit">Learn about the Crowdsourced Cookbook Project</button>
</form>

<ul>
	<li>
	<% if (user) { %>
		<a href="/logout"><i>trending_flat</i>Log Out</a>
	<% } else { %>
		<a href="/auth/google">Login with Google</a>
	<% } %>
	</li>
</ul>
<%- include('./partials/footer') %> 