<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 

New recipes form here

<main>
    <form action="/recipes" method="POST">
        <p>
            <input type="text" name="title" placeholder="Title" />
        </p>
        <p>
            <input type="text" id="ingredients" name="ingredients[]" placeholder="Ingredients"/>
        </p>
        <p>
            <input type="text" id="tools" name="tools[]" placeholder="Required Tools"/>
        </p>
        <p>
            <textarea type="text" id="instructions" name="instructions[]" placeholder="Instructions"></textarea>
        </p>
        
        <input type="submit" value="Post Recipe" />
    </form>
</main>

<%- include('../partials/footer') %> 